@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Fjalla+One');

body {
    margin: 0;
    background-color: #5a40d8;
    background-image: radial-gradient(circle, #d74add, #5a40d8);
    font-family: 'Fjalla One', sans-serif;
}
.main {
    color: #fcdcff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Cabin', sans-serif;
    line-height: 140%;
}
.top {
    width: 100%;
    text-align: center;
}
.networks {
    padding: 10px;
}

.networks img {
    padding: 5px;
}

.profile {
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
}

.menu {
    width: 600px;
    border-bottom: 6px #000000 solid;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-left: -30px;
    margin: 0 auto;
}

.menu a {
    color: #000000;
    text-decoration: none;
}

.menu a:hover {
    color: #d74add;
    text-decoration: none;
}

.menu .active {color: #d74add;}

h1,h2,h3 { 
    color: #FFF;
    font-weight: 700;
} 

.content {
    width: 560px;
    margin: 0 auto;
}

.division {
    background-color: #FFF;
}
.division-bottom { padding: 20px;}



section {
    display: none;
}

.menu li { display: inline; padding-right: 30px;}

.bottom {
    font-size: 12px;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
}

#interestings li {
    line-height: 160%;
}

.item {
    padding-top: 20px; 
}

.item h4 {
    margin: 0;
    line-height: 105%;
    font-size: 20px;
    font-weight: 700;
}

.numbering {
    float: left; 
    font-size:72px; 
    margin-top: 20px; 
    color: #8633c6; 
    font-weight: 700
}

.listing {
    float: right; 
    width:500px; 
}

.listing div {
    font-size: 12px;
}

.cleaned {clear: both;}

.tin, .tin a {
    font-size: 12px;
    text-align: right;
    color: #FFF;
}

@media (max-width:609px){
    .menu {
        width: 100%;
        font-size: 16px;
        padding: 10px 0;
    }

    .menu li { 
        display: block; 
        text-align: left; 
        margin-left: 30%}

    .profile {
        padding: 10px;
    }
    
    .content {
        padding: 0;
        width: 100%;
    }

    #home {
        text-align: justify
    } 
    #contact {
        text-align: center;
    }
    
    .top img {
        margin-top: 30px;
        width: 120px;
        height: 120px;
    }

    .listing {float: right; width:80%;}
}
